<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  
  <body>

	<table class="table table table-striped table table-striped">
 				<tr th:each="post : ${posts}">
 					<!-- TODO: in order to protect the application from (at least some ;) ) XSS attack 
 							   vectors use the th:text attribute, instead of th:utext (it provides character
 							   escaping by default)-->
       				<td th:utext="${post.contents}">Default contents</td>
      			</tr>	
			</table>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

	<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
  </body>
</html>
